@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
}

section.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.roles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: auto;
  height: 100%;
  gap: 80px;
  overflow-y: auto;
}

ul.roles .role {
  border: 1px solid #000;
  border-radius: 10px;
  min-height: 450px;
  min-width: 200px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

ul.roles .role button.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 4px 7px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #71bfff;
}

ul.roles .role button.add-task img{
  max-width: 20px;
}

ul.items {
  min-height: 100px;
  background-color: #f0f8ff;
  margin: 8px 0;
}
ul.items .item {
  background-color: #ffe4c4;
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  border-radius: 5px;
}
ul.items .item:hover {
  cursor: grab;
}
ul.items .item:-moz-drag-over {
  cursor: grab;
}

#pop-up.active {
  display: flex;
  opacity: 1;
}
#pop-up {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000ab;
  justify-content: center;
  align-items: center;
}
#pop-up .pop-up-conteudo {
  background-color: #fff;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
#pop-up .pop-up-conteudo .form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pop-up .pop-up-conteudo input {
  background-color: #d9ecfd;
  outline: none;
  border: none;
  border-bottom: 3px solid #71bfff;
  border-radius: 5px 5px 0 0;
  height: 34px;
  padding: 5px;
  font-size: 13pt;
}
#pop-up .pop-up-conteudo button {
  background-color: #d9ecfd;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 34px;
  width: 100px;
  padding: 5px;
  font-size: 13pt;
  cursor: pointer;
  transition: .2s all ease-in-out;
}
#pop-up .pop-up-conteudo button:active {
  background-color: #b5dbfd;
}

/* Login */

section.login {
  background-color: #71bfff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 1px solid #fff;
  width: 700px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3535352e;
  border-radius: 30px;
  gap: 15px;
}
form .form-label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
form .form-label input {
  background-color: #ffffff2e;
  border: none;
  outline: none;
  height: 30px;
  width: 250px;
  padding: 8px;
}
form .form-label label {
  margin-bottom: 5px;
  color: #fff;
}
form .form-label button {
  background-color: #fff;
  border: 2px solid transparent;
  transition: .2s all ease;
  outline: none;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 14pt;
  cursor: pointer;
  margin-top: 40px;
}
form .form-label button:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}